<!--city-form.vtl-->
<h1>Add a City</h1>
<form action="/cities" method="post">
  <label for="name">City Name</label>
  <input type="text" name="name" id="name">
  <button class="btn btn-danger" type="submit">Add a City</button>
</form>
<!--city-form.vtl-->
